#raceInfoContainer{
    width: 80%;
    margin: 2.5rem auto 0;
    background: #333;
    min-height:15.625rem;

    &__title{
      color: #fff;
      text-transform: uppercase;
      border-bottom: solid 0.0625rem #fff;
      padding: 1.25rem 0;
    }
    &__raceInfo1{
      color: #77b82f;
      flex: 50% 1 1;
    }
    &__raceInfo2{
      color: #b82f3e;
      flex: 50% 1 1;
    }
}

.raceInfo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding:1rem 0.625rem;
  box-sizing:border-box;

  & span{
    display: block;
    font-weight: normal;
    font-size: 1.125rem;
    color: #fff;
  }
}
.flex-container{
  display:flex;
  flex-direction:row;
}

